@charset "utf-8";

body{
  background-color:#000000;
  margin:0px;
  padding:0px;
}
p{
  font-family:'sen',sans-serif;
}

ul{
  list-style:none;
}
a{
  text-decoration:none;
}

nav{
  display:flex;
  justify-content:space-between;
  height:60px;
  background-color:#000000;
  box-shadow:2px 2px 12px rgba(0,0,0,0.2);
  padding:0px 5%;
}

nav ul{
  display: flex;
}

nav ul li a{
  margin:30px;
  color:#DADADA; 
  font-size:15px;
  font-family:'sen',sans-serif
}

.logo{
  margin:20px 0px 0px 0px;
  font-size:22px;
  color:#FFFFFF;
  font-family:'sen',sans-serif;
}

.active{
  font-weight:bold;
  color:#2d2a2a;
}
.text-container p:nth-child(1){
    padding: 16px;
    font-size:40px;
    font-weight:bold;
    color:#7e7d7d 
}

.proto-persona-container{
    width:100%;
    height:650px;
    background-color:#181823;
    border-radius:20px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin:50px auto 20px auto;
    position: absolute;
  }
  .proto-persona-container img{
    height:650px;
    padding-left: 16px;
  }
  .proto-persona-text{
    width:550%;
    padding-left: 8px;
    color:#FFFFFF
  }
  .proto-persona-text p:nth-child(1){
    color:#DADADA;
    font-size:32;
    font-family:'sen',sans-serif;
    font-weight:bold;
    line-height:5px;
  }
  .proto-persona-text p:nth-child(3),
  .proto-persona-text p:nth-child(4){
    color:#FFFFFF;
    font-family:'sen',sans-serif;
    font-size:16px;
  }
  .proto-persona-text button{
    width:120px;
    height:40px;
    color:#FFFFFF;
    outline:none;
    border:none;
    font-family:'sen',sans-serif;
    background-color:#262525;
  }

  .user-interviews-container{
    width:100%;
    height:650px;
    background-color:#181823;
    border-radius:20px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    display:flex;
    margin:700px auto auto 0px;
    position: absolute;
  }
  .user-interviews-container img{
    height:650px;
    padding-left: 16px;
  }
  .user-interviews-text{
    width:550%;
    padding-left: 8px;
    color:#FFFFFF
  }
  .user-interviews-text p:nth-child(1){
    color:#DADADA;
    font-size:32;
    font-family:'sen',sans-serif;
    font-weight:bold;
    line-height:5px;
  }
  .user-interviews-text p:nth-child(3),
  .user-interviews-text p:nth-child(4){
    color:#FFFFFF;
    font-family:'sen',sans-serif;
    font-size:16px;
  }
  .user-interviews-text button{
    width:120px;
    height:40px;
    color:#FFFFFF;
    outline:none;
    border:none;
    font-family:'sen',sans-serif;
    background-color:#262525;

  }
  .surveys-container{
    width:100%;
    height:650px;
    background-color:#181823;
    border-radius:20px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    display:flex;
    margin:700px auto auto 0px;
    position: absolute;
  }
  .surveys-container img{
    height:650px;
    padding-left: 16px;
  }
  .surveys-text{
    width:550%;
    padding-left: 8px;
    color:#FFFFFF
  }
  .surveys-text p:nth-child(1){
    color:#DADADA;
    font-size:32;
    font-family:'sen',sans-serif;
    font-weight:bold;
    line-height:5px;
  }
  .surveys-text p:nth-child(3),
  .surveys-text p:nth-child(4){
    color:#FFFFFF;
    font-family:'sen',sans-serif;
    font-size:16px;
  }
  .surveys-text button{
    width:120px;
    height:40px;
    color:#FFFFFF;
    outline:none;
    border:none;
    font-family:'sen',sans-serif;
    background-color:#262525;
  }
  .key-takeaways-container{
    width:100%;
    height:300px;
    background-color:#DDF4E3;
    border-radius:20px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin:700px auto 0px auto;
    position: absolute;
  }
  .key-takeaways-text{
    font-size: 24px;
    width:550%;
    padding-left: 35px;
    padding-top: 24px;
    color:#000000
  }
  .key-takeaways-text p:nth-child(1){
    color:#000000;
    font-size:40;
    font-family:'sen',sans-serif;
    font-weight:bold;
    line-height:5px;
  }
  .key-takeaways-text p:nth-child(3)
  .key-takeaways-text p:nth-child(4){
    color:#000000;
    font-family:'sen',sans-serif;
    font-size:24px;
  }